@font-face {
    font-family: "romanReg";
    src: url(../fonts/cmunrm.ttf);
  }
  
  @font-face {
    font-family: "romanBold";
    src: url(../fonts/cmunbx.ttf);
  }
  
  @font-face {
    font-family: "romanItalic";
    src: url(../fonts/cmunti.ttf);
  }
  
  @font-face {
    font-family: "romanBoldItalic";
    src: url(../fonts/cmunbi.ttf);
  }